body {
  font-family: monospace;
  cursor: pointer;
}


.banner-section {
    background:url("https://ik.imagekit.io/wax4lboi9/frozen-alien-world.jpg?updatedAt=1753295089892") center center / cover no-repeat
}

#about-me {
    background:url("https://ik.imagekit.io/wax4lboi9/about-me-bg.jpg?updatedAt=1753295063028") center center / cover no-repeat
}

#projects {
    background:url("https://ik.imagekit.io/wax4lboi9/img/8562878_25515.jpg?updatedAt=1753298593446") center center / cover no-repeat
}

.skill-bg {
  background: url("https://ik.imagekit.io/wax4lboi9/5440177.jpg?updatedAt=1753295103927") center center / cover no-repeat;
}


#about-me::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000062;
}

#projects {
  position: relative;
}

.before-tag {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #11111191;
  z-index: 1;
}

section.banner-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000062;
}

section.skill-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000062;
}
.banner-text h1,div {
  z-index: 100;
  position: relative;
  strong {
    font-size: 25px;
    font-weight: 500;
  }
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

/* Add this to your main CSS file or inside a <style> tag */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* How high it floats */
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

@media(max-width:426px) {
  img.float-animation {
    width: 160px;
  }

  img.rounded-2xl.shadow-xl.w-64.h-64.object-cover.astronaut-pic {margin-top: 150px;width: 170px;height: 170px;}

  
}
